:host {
  display: flex;
  position: absolute;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  outline: none;
  z-index: 20000;
}

.esn-popover {
  position: fixed;
  display: flex;
  visibility: hidden;
  pointer-events: none;

  flex-direction: column;

  max-width: fit-content;

  background: var(--esn-popover-bg, white);
  box-shadow: var(--esn-box-shadow, 0 5px 10px rgba(0, 0, 0, 0.2));

  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;

  left: -8px !important;
  padding: 8px;

  z-index: 20001;
}

.esn-popover.active {
  visibility: visible;
  pointer-events: auto;
  animation: fade-in 0.2s;
}

.esn-popover.inactive.did-fade-in {
  visibility: visible;
  display: flex;
  animation: fade-out 0.2s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
